<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="hospitalId">HospitalId</label>
        <input
          type="text"
          [(ngModel)]="hospital.hospitalId"
          class="form-control"
          id="hospitalId"
          name="hospitalId"
          placeholder="provide hospital Id"
          required
          #hospitalId="ngModel"
        />
        <div [hidden]="!hospitalId.pristine" class="alert alert-danger">
          Hospital Id is required
        </div>
      </div>
      <div class="form-group">
        <label for="hospitalId">HospitalName</label>
        <input
          type="text"
          [(ngModel)]="hospital.hospitalName"
          class="form-control"
          id="hospitalName"
          name="hospitalName"
          placeholder="provide hospital Name"
          required
          #hospitalName="ngModel"
        />
        <div [hidden]="!hospitalName.pristine" class="alert alert-danger">
          Hospital Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          [(ngModel)]="hospital.address"
          class="form-control"
          id="address"
          name="address"
          placeholder="provide hospital Address"
          required
          #address="ngModel"
        />
        <div [hidden]="!address.pristine" class="alert alert-danger">
          Hospital Address is required
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!userForm.form.valid"
        class="btn btn-info"
      >
        Submit
      </button>
    </form>
  </div>
</div>
